<header class="bk-image">
  <h2>Some text in the header you want to display in all pages</h2>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Catalog", catalog_path %></li>
    <li><%= link_to "Admin", admin_path %></li> 
  </ul>
</header>